<%-include layout/header.ejs %>
    <h1>Список тестов</h1>
    <ul>
        <% tests.forEach(function(test){ %>
            <li>
               <b>Имя:</b> <%= test.name %> <br>
               <b>Автор:</b> <%= test.author %> <br>
               <b>Предмет:</b> <%= test.subject %> <br>
               <b>Тема:</b> <%= test.theme %> <br>
               <b>Класс:</b> <%= test.rate %> <br>
               <b>Дата:</b> <%= new Date(test.date).getDate() +'.0'+ +(new Date(test.date).getMonth() + 1) +'.'+ new Date(test.date).getFullYear() %>         
            </li>
            <br>
         <% }); %>
    </ul>
    <form
        action="/create"
        method="get"
    >
    <br>
        <button id="create_test_button" type="submit">Создать</button>
        
    </form>
<%- include layout/footer.ejs %>