<%- include ./layout/header.ejs %>
<%- include ./layout/menu.ejs %>

    <% if(role == 'teacher'){ %>
            <div class="container">
                <div class="row">
                    Результаты
                </div>
            </div>
            <ul class="list-group list-group-flush"></ul>
            <% session.results.forEach(function(target){ %>
                        <li class="list-group-item">
                                <%= session.name %>
                                <span style="display:inline-block; width: YOURWIDTH;"></span>
                                <%= session.author_name %>
                                <span style="display:inline-block; width: YOURWIDTH;"></span>
                                <%= new Date(session.date).getDate() +'.0'+ +(new Date(session.date).getMonth() + 1) +'.'+ new Date(session.date).getFullYear() %>
                            </li>
            <% }); %>
            </ul>

    <% }else if(role == 'student'){ %>


    <% } %>
<%- include ./layout/footer.ejs %>